.custom-select {
    width: 100%;
    margin: 1em 0 1em 0;
    text-transform: capitalize;
}

span.ant-select-selection-placeholder {
    color: rgb(163, 163, 163) !important;
}

.custom-select .ant-select-clear {
    color: white;
  }