:root {
  --container-margin: 10%;
  --forum-page-margin-bottom: 1em;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 var(--container-margin);
}

.custom-divider {
  margin-bottom: 0 !important;
  background: #54525d;
  margin-top: 0; 
}

.homepage-page {
  background-color: none;
  width: 100%;
  min-height: 100%;
  padding-bottom: var(--forum-page-margin-bottom);
  box-sizing: border-box;
}

.homepage-header {
  text-align: left;
  color: white !important;
}

.homepage-header > h1 {
  margin: 0 !important;
}

.homepage-title {
  color: white;
  margin: 0 !important;
}

.timezone-title {
  color: #1e232e !important;
  margin-bottom: 1em;
  font-size: 1.1rem;
}

.ant-pagination {
  color: white !important;
}

.ant-pagination-item > a {
  color: white !important;
}

.ant-pagination-item, .ant-pagination-item-active > a {
  color: black !important;
}

.ant-pagination-item-ellipsis {
  color: white !important;
}

.ant-pagination-item-link {
  color: white !important;
}

.ant-pagination-item-link:hover, .ant-pagination-item-link:focus {
  color: white !important;
}

.pagination-container {
  position: sticky;
  bottom: 0;
  background-color: #252836;
  padding: 1em 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #1F1D2B;
  border-color: rgb(94, 94, 94);
  color: white !important;
}

.ant-select-show-arrow {
  color: white !important;
}

span.ant-select-arrow {
  color: white !important;
}

.ant-select .ant-select-lg .ant-select-outlined .custom-select {
  color: white !important;
}

span.ant-select-selection-item {
  color: white !important;
}

#search_box, .ant-input, .ant-input-outlined {
  background-color: #1F1D2B !important;
  border-color: #54525d !important;
}

#search_box, input::placeholder {
  color: rgb(163, 163, 163) !important;
}

.custom-search .ant-input-clear-icon {
  color: white;
}
