:root {
  --container-margin: 10%;
  --forum-page-margin-bottom: 1em;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 var(--container-margin);
}

.custom-divider {
  margin-bottom: 0 !important;
  background: #54525d;
  margin-top: 0;
}

.homepage-page {
  background-color: none;
  width: 100%;
  min-height: 100%;
  padding-bottom: var(--forum-page-margin-bottom);
  box-sizing: border-box;
}

.homepage-header {
  text-align: left;
  color: white !important;
}

.homepage-header>h1 {
  margin: 0 !important;
}

@media (max-width: 768px) {
  .homepage-header {
    text-align: center;
    margin-bottom: 1em;
  }

  .custom-divider {
    margin-bottom: 20px !important;
  }

  .homepage-page {
    padding: 20px 10px;
  }

  .container {
    margin: 0 5%;
  }
}
